:root {
  scroll-behavior: smooth;
}
.form-control {
  background-color: #e9e9e9;
  border-radius: 12px;
  border: none;
  border-width: 2px;
}
.input {
  background-color: #e9e9e9;
  border-radius: 12px;
  border: none;
  border-width: 2px;
}
.signIn-image {
  width: 18rem;
  height: 20rem;
}
.button {
  color: #fff;
  margin-top: 35px;
  background-color: #217b29;
}
.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}
.invisible {
  display: none;
}
.text-center {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.submit-button {
  margin-top: 30px;
}
